<!DOCTYPE html>
<html>
    <head>
        <title>Dexter Farmer's Market</title>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="./landing.css">
    </head>
    <body>
        <img id="backImg" src="./shared/images/dfm.jpg" alt="Dexter Farmers Market">

        <div id="main">
            <h1>Dexter Farmers Market</h1>
        </div>
    </body>
</html>