*{margin:0;padding:0}

html, body{
    width: 100%;
    height: 100vh;
    font-family: 'Playfair Display', serif;
}

#backImg{
    position: absolute;
    width: 100%;
    z-index: -1;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    height: 33%;
    color: white;
    padding: 25px;
}

    #main h1{
        font-size: 50px;
    }