*{margin:0;padding:0}

html, body{
    width: 100%;
    height: 100vh;
    font-family: 'Playfair Display', serif;
}

body{
    padding-bottom: 15px;
    box-sizing: border-box;
}

#backImg{
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100%;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    background: rgb(0,0,0);
    background: linear-gradient(rgb(0, 0, 0) 50%, rgb(150,0,0) 100%);
    color: white;
    box-sizing: border-box;
    padding: 25px;
}

    .logo{
        font-size: 30px;
        font-weight: bold;
        margin-right: auto;
    }

    .links{
        display: flex;
        justify-content: space-between;
        width: 250px;
    }

        .links a{
            color: white;
            text-decoration: none;
            font-size: 20px;
        }

        .links a:hover{
            color: lightgray;
        }

#header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
    background: rgba(255, 0, 0, 0.75);
    background: linear-gradient(rgba(150, 0, 0, 1) 0%, rgba(255, 0, 0, 0.75) 25%);
    height: 20%;
    color: black;
    padding: 25px;
}

    #header img{
        height: 100%;
    }

    .headerText{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headerText h1{
        font-size: 50px;
    }

#news{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    max-height: 70%;
    padding-top: 15px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

    #notifications{
        overflow-y: auto;
    }

    #news h2{
        color: white;
        font-size: 30px;
        text-decoration: underline;
        margin-bottom: 15px;
    }

    .post{
        color: black;
        border: 1px solid black;
        border-radius: 10px;
        margin: 20px;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 5px 5px 5px black;
        padding: 10px;
    }

    .post h4{
        font-size: 25px;
        font-weight: bold;
    }

    .date{
        margin-bottom: 10px;
    }

    .content{
        margin: 5px;
        font-size: 20px;
        line-height: 35px;
    }